
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

/*Creando Variable  "propiedades personalozadas"*/
:root
{
    --padding-container: 100px 0;
    --color-title: rgb(255, 253, 253) ;
}

body
{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
}

.container
{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -50px;
    overflow: hidden;
    /*background-color: rgba(181, 181, 181, 1) ;*/
    padding: var(--padding-container);
}

.hero
{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px lfr;
    color: #fff;
}

.hero::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-image:  linear-gradient(180deg, #0000008c, #0000008c 100%),
                        url('../Imagenes/inicio4.jpeg')  ;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav
{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}


.bx{
    color: #fff;
    top: -4px;
    left:20px;
    /*color: rgb(2, 72, 125);*/
}

.nav__items{
    list-style: none; 
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2cm;
    font-weight: 350;

}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    color: #fff;
    background-color: #fff;
    display: none;
}

.nav__close{
    display: var(--show, none);
}

.nav__img{
    display: block;
    width: 30px ;
    color: #fff;
}

.hero__container{
    max-width: 800px ;
    --padding-container:0;
    display: grid;
    text-align: center;
    padding-bottom: 100px;
}

.hero__title{
    font-size: 3rem;
    margin-top: 80px;
   
}
.hero__parrafo{
    margin-bottom: 20px;
    margin-top: -62px;
}

.cta{ 
    display: inline-block;
    justify-self: center;
    text-align: center;
    color: #fff;
    border-radius: 32px;
    margin-top: 20px;

}

/* .foot{
    background-color: rgba(255, 4, 4, 0.733);
    padding: auto;
    text-align: center;
} */


